body {
  font-family: 'Dosis', sans-serif;
}

button {
  font-family: 'Dosis', sans-serif;
}

.screen {
  border: 16px #4C4C4C solid;
  border-radius: 15px 15px 0 0;
}

.frame {
  background-color: #E5E5E5;
  border: 1px black solid;
  border-radius: 0 0 15px 15px;
  height: 8vh;
}

.stand {
  background-color: #E5E5E5;
  height: 4vh;
  margin: 0 auto;
  width: 7vw;
  border-right: 1px black solid;
  border-left: 1px black solid;
}

.base {
  background-color: #E5E5E5;
  height: 1vh;
  margin: 0 auto;
  width: 10vw;
  border: 1px black solid;
  border-radius: 15px;
}
