body {
  font-family: 'Dosis', sans-serif;
}

button {
  font-family: 'Dosis', sans-serif;
}

.has-background-red {
  background-color: #DB3B35;
}

.has-text-red {
  color: #DB3B35;
}

.is-red {
  color: white;
  background-color: #DB3B35;
  border-color: #DB3B35;
}

.navbar-item::hover {
  font-weight: bold;
}

.screen {
  border: 16px #4C4C4C solid;
  border-radius: 15px 15px 0 0;
}

.frame {
  background-color: rgb(229, 229, 229);
  border: 1px rgb(229, 229, 229) solid;
  border-radius: 0 0 15px 15px;
  height: 8vh;
}

.stand {
  background-color: rgb(214, 212, 212);
  height: 4vh;
  margin: 0 auto;
  width: 7vw;
  border-right: 1px rgb(214, 212, 212) solid;
  border-left: 1px rgb(214, 212, 212) solid;
}

.base {
  background-color: rgb(229, 229, 229);
  height: 1vh;
  margin: 0 auto;
  width: 10vw;
  border: 1px rgb(229, 229, 229) solid;
  border-radius: 15px;
}

.circle {
  height: 6vh;
  width: 6vh;
  border-radius: 30px;
}

.circle:hover {
  height: 6vh;
  width: 6vh;
  border-radius: 30px;
  background-color: grey;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

img {
  height:50%;
  width:50%;
}

.level-left.is-flex-mobile {
  justify-content: flex-start;
}
